html, #root {
    height: 200%;
}

body {
    background: linear-gradient(20deg, #06420bcc, #100020 70%);
    color: white;
}

::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }

.parent-container {
    padding: 0.5rem 10rem;

    @media (min-width: 992px) and (max-width: 1199px) {
        padding: 0.5rem 4rem;
    }

    @media (min-width: 1200px) and (max-width: 1399px) {
        padding: 0.5rem 8rem;
    }
}

.navbar {
    .nav-parent-div {
        @media (max-width: 991px) {
            justify-content: space-between !important;
        }

        .navbar-collapse {
            justify-content: center;
            .navbar-nav {

                .nav-link {
                    color: white;
                    font-size: 1.2rem;
                    padding: 1rem 1.5rem;
                    border-radius: 0px;
                    transition: 0.2s ease-in-out;
                    position: relative;

                    @media (min-width: 576px) and (max-width: 767.98px) {
                        font-size: 1.05rem;
                        padding: 1rem 1.2rem;
                    }

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        font-size: 1.05rem;
                        padding: 1rem 1.2rem;
                    }

                    @media (min-width: 992px) and (max-width: 1199.98px) {
                        font-size: 1rem;
                        padding: 1rem 1rem;
                    }

                    @media (min-width: 1200px) and (max-width: 1399.98px) {
                        font-size: 1.05rem;
                        padding: 1rem 1.2rem;
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 1px;
                        height: 30%;
                        background-color: rgb(0, 247, 255);
                        transform: scaleY(0);
                        transform-origin: top center;
                        transition: transform 0.3s ease-in-out;
                        box-shadow: 0px 0px 5px 1px rgb(0, 247, 255);
                    }

                      &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 30%;
                        height: 1px;
                        background-color: rgb(0, 247, 255);
                        transform: scaleX(0);
                        transform-origin: left center;
                        transition: transform 0.3s ease-in-out;
                        box-shadow: 0px 0px 5px 1px rgb(0, 247, 255);
                    }

                      &:hover {
                        color: rgb(0, 247, 255);
                        text-shadow: 0px 0px 15px white;
                        box-sizing: border-box;
                        border-radius: 6px;

                        &::before {
                          transform: scaleY(1);
                        }

                        &::after {
                          transform: scaleX(1);
                        }
                    }
                }

                @media (max-width: 991px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
            }
        }
    }
}

.homepage-s1 {

    margin-top: 5rem;

    .s1-left-div {
        h4 {
            text-shadow: 1px 1px 3px rgb(0, 0, 0);
            font-weight: 400;
        }

        h1 {
            padding-top: 1rem;
            font-size: 5rem;
            background-image: linear-gradient(35deg, gold, rgb(255, 255, 255) 45%);
            background-clip: text;
            color: transparent;
            text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.87);

            span {
                font-style: italic;
                background-image: linear-gradient(35deg, gold, rgb(0, 255, 136) 45%);
                background-clip: text;
                color: transparent;
                text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.637);
            }
        }

        p {
            padding-top: 2rem;
            font-size: 1rem;
        }

        .button-container {
            padding-top: 1rem;

            button {
                box-sizing: border-box;
                color: white;
                font-size: 1.2rem;
                font-weight: 500;
                background: linear-gradient(20deg, #00ff15, #6f00ff);
                padding: 15px 30px;
                margin-right: 5rem;
                border-radius: 10px;
                border: 0px solid;

                &:hover {
                    background: linear-gradient(20deg, #00ff15, #00fff2);
                }
            }
        }

        .fade-enter {
            opacity: 0;
        }

        .fade-enter-active {
            opacity: 1;
            transition: opacity 300ms;
        }

        .fade-exit {
            opacity: 1;
        }

        .fade-exit-active {
            opacity: 0;
            transition: opacity 300ms;
        }
    }

    .s1-right-div {

        .gradient-img-container {
            display: flex;
            justify-content: space-between;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            height: 35rem;
            width: 35rem;
            border-radius: 50%;
            box-sizing: border-box;
            box-shadow: 50px 60px 120px 20px rgb(255, 255, 255);
            transition: 0.5s ease-in-out;

            .gradient-image-1 {
                background-image: radial-gradient(circle, transparent, rgb(0, 247, 255), transparent 50%);
                background-size: cover;
                display: block;
                position: relative;
                transition: 0.5s ease-in-out;

                svg {
                    transition: 0.5s ease-in-out;

                    &:hover {
                        transform: scale(0.8);
                    }
                }
            }

            .gradient-image-2 {
                background-image: radial-gradient(circle, transparent, rgb(0, 247, 255), transparent 50%);
                background-size: cover;
                display: block;
                position: relative;
                transition: 0.5s ease-in-out;

                svg {
                    transition: 0.5s ease-in-out;

                    &:hover {
                        transform: scale(0.8);
                    }
                }
            }

            .gradient-image-3 {
                background-image: radial-gradient(circle, transparent, rgb(0, 247, 255), transparent 50%);
                background-size: cover;
                display: block;
                position: relative;
                transition: 0.5s ease-in-out;

                svg {
                    transition: 0.5s ease-in-out;

                    &:hover {
                        transform: scale(0.8);
                    }
                }
            }
        }
    }

    .products-container {

        .row {

            .carousel {

                .carousel-indicators {

                    button{
                        background-color: rgb(0, 247, 255);
                    }
                }
                .carousel-inner {
                    box-shadow: 0px 0px 15px 1px rgb(0, 247, 255), inset 0px 0px 15px 1px rgb(0, 247, 255);
                    box-sizing: border-box;
                    border: 1px solid rgb(0, 247, 255);
                    border-radius: 12px;
                    background: linear-gradient(20deg, #06420bcc, #100020 70%);
                }
            }
        }
    }

    .card-container-row {
        padding: 0.5rem;
    }

    .card-container {
        padding: 40px;
    }

    .card {
        background: linear-gradient(20deg, #d6ffd9, #b163ff 70%);
        margin: 0 !important;

        .card-body {
            padding: 5px 5px !important;
            button {
                color: white;
                font-weight: 600;
                box-sizing: border-box;
                border: 0;
                background: linear-gradient(20deg, #00ff15af, #6f00ffad);

                &:hover {
                    background: linear-gradient(20deg, #00ff15, #6f00ffad);
                }
            }
        }
    }
}