body {
  background: linear-gradient(20deg, #494949, #252525 30%, #1a1a1a 60%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
  background-color: transparent;
}

.parent-container {
  padding: 0.5rem 10rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .parent-container {
    padding: 0.5rem 4rem;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .parent-container {
    padding: 0.5rem 8rem;
  }
}

.navbar {
  margin-bottom: 2rem;
}
@media (max-width: 991px) {
  .navbar .nav-parent-div {
    justify-content: space-between !important;
  }
}
.navbar .nav-parent-div .navbar-collapse {
  justify-content: center;
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
  color: white;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border-radius: 0px;
  transition: 0.2s ease-in-out;
  position: relative;
}
@media (min-width: 576px) and (max-width: 767.98px) {
  .navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
    font-size: 1.05rem;
    padding: 1rem 1.2rem;
  }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
    font-size: 1.05rem;
    padding: 1rem 1.2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
  .navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
    font-size: 1.05rem;
    padding: 1rem 1.2rem;
  }
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 30%;
  background-color: white;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 5px 1px white;
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 1px;
  background-color: white;
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 5px 1px white;
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link:hover {
  color: white;
  text-shadow: 0px 0px 15px white;
  box-sizing: border-box;
  border-radius: 6px;
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link:hover::before {
  transform: scaleY(1);
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
}
@media (max-width: 991px) {
  .navbar .nav-parent-div .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.homepage .s1-left-div h4 {
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  font-weight: 400;
}
.homepage .s1-left-div h1 {
  padding-top: 1rem;
  font-size: 5rem;
  background-image: linear-gradient(35deg, gold, rgb(255, 255, 255) 45%);
  background-clip: text;
  color: transparent;
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.87);
}
.homepage .s1-left-div h1 span {
  font-style: italic;
  background-image: linear-gradient(35deg, gold, rgb(0, 255, 136) 45%);
  background-clip: text;
  color: transparent;
  text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.637);
}
.homepage .s1-left-div p {
  padding-top: 2rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.699);
}
.homepage .s1-left-div .button-container {
  padding-top: 3rem;
}
.homepage .s1-left-div .button-container button {
  box-sizing: border-box;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  background: transparent;
  box-shadow: inset 3px 3px 15px 1px rgba(255, 255, 255, 0.349), -3px -3px 15px 1px rgba(255, 255, 255, 0.349);
  padding: 15px 30px;
  margin-right: 5rem;
  border-radius: 10px;
  border: 0px solid;
}
.homepage .s1-left-div .button-container button:hover {
  box-shadow: inset 3px 3px 15px 1px rgba(255, 255, 255, 0.616), -3px -3px 15px 1px rgba(255, 255, 255, 0.61);
}
.homepage .s1-left-div .fade-enter {
  opacity: 0;
}
.homepage .s1-left-div .fade-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}
.homepage .s1-left-div .fade-exit {
  opacity: 1;
}
.homepage .s1-left-div .fade-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.homepage .s1-right-div .gradient-img-container {
  display: flex;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35rem;
  width: 35rem;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 20px 20px 40px 2px rgb(255, 255, 255);
  transition: 0.5s ease-in-out;
}
.homepage .s1-right-div .gradient-img-container .gradient-image-1 {
  background-image: radial-gradient(circle, transparent, rgb(255, 255, 255) 25%, transparent 50%);
  background-size: cover;
  display: block;
  position: relative;
  transition: 0.5s ease-in-out;
}
.homepage .s1-right-div .gradient-img-container .gradient-image-1 svg {
  transition: 0.5s ease-in-out;
}
.homepage .s1-right-div .gradient-img-container .gradient-image-1 svg:hover {
  transform: scale(0.8);
}
.homepage .s1-right-div .gradient-img-container .gradient-image-2 {
  background-image: radial-gradient(circle, transparent, rgb(255, 255, 255) 25%, transparent 50%);
  background-size: cover;
  display: block;
  position: relative;
  transition: 0.5s ease-in-out;
}
.homepage .s1-right-div .gradient-img-container .gradient-image-2 svg {
  transition: 0.5s ease-in-out;
}
.homepage .s1-right-div .gradient-img-container .gradient-image-2 svg:hover {
  transform: scale(0.8);
}
.homepage .s1-right-div .gradient-img-container .gradient-image-3 {
  background-image: radial-gradient(circle, transparent, rgb(255, 255, 255) 25%, transparent 50%);
  background-size: cover;
  display: block;
  position: relative;
  transition: 0.5s ease-in-out;
}
.homepage .s1-right-div .gradient-img-container .gradient-image-3 svg {
  transition: 0.5s ease-in-out;
}
.homepage .s1-right-div .gradient-img-container .gradient-image-3 svg:hover {
  transform: scale(0.8);
}
.homepage .products-container {
  position: relative; /* Making the pseudo element apply the effect on this container */
}
.homepage .products-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 175px;
  background-color: white;
  transform: scaleY(1); /* Apply the scaleY transformation here for the permanent effect */
  transform-origin: top center;
  box-shadow: 0px 0px 25px 4px white;
}
.homepage .products-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 175px;
  height: 1px;
  background-color: white;
  transform: scaleX(1); /* Apply the scaleX transformation here for the permanent effect */
  transform-origin: left center;
  box-shadow: 0px 0px 25px 4px white;
}
.homepage .products-container .line-effect-wrapper {
  position: relative; /* Add this to make sure pseudo-elements are relative to this container */
}
.homepage .products-container .line-effect-wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 140px;
  background-color: white;
  transform: scaleY(1); /* Apply the scaleY transformation here for the permanent effect */
  transform-origin: top center;
  box-shadow: 0px 0px 25px 4px white;
}
.homepage .products-container .line-effect-wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 1px;
  background-color: white;
  transform: scaleX(1); /* Apply the scaleX transformation here for the permanent effect */
  transform-origin: left center;
  box-shadow: 0px 0px 25px 4px white;
}
.homepage .products-container .line-effect-wrapper .priceplans {
  padding-bottom: 50px;
}
.homepage .products-container .line-effect-wrapper .priceplans-carditem {
  background: transparent;
  width: 400px;
  height: 550px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 17px;
  box-shadow: inset 0 0 10px 1px rgb(0, 0, 0), 0 0 10px 1px rgb(0, 0, 0);
  padding: 2rem;
  margin: 0 20px 20px 0;
}
.homepage .products-container .line-effect-wrapper .priceplans-title {
  height: 30%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.733);
  border-bottom-style: dashed;
}
.homepage .products-container .line-effect-wrapper .priceplans-title-h3-1 {
  color: #ff8000 !important;
}
.homepage .products-container .line-effect-wrapper .priceplans-title-h3-2 {
  color: springgreen !important;
}
.homepage .products-container .line-effect-wrapper .priceplans-title-h3-3 {
  color: royalblue !important;
}
.homepage .products-container .line-effect-wrapper .priceplans-features {
  margin-top: 1.5rem;
}
.homepage .products-container .line-effect-wrapper .priceplans-features div {
  margin-top: 0.5rem;
  gap: 10px;
}
.homepage .products-container .line-effect-wrapper .priceplans-features div p {
  font-size: 13px;
}
.homepage .products-container .line-effect-wrapper .priceplans-features p {
  color: rgb(255, 255, 255);
}
.homepage .products-container .line-effect-wrapper .priceplans-features svg {
  min-height: 20px;
  min-width: 20px;
  color: springgreen;
}
.homepage .products-container .line-effect-wrapper .priceplans-button button {
  border: 0;
  width: 100%;
  padding: 0.5rem 0;
  border-radius: 17px;
  background: transparent;
  color: white;
  box-shadow: 2px 2px 1px 1px rgb(0, 255, 136);
}
.homepage .products-container .line-effect-wrapper .priceplans-button button:hover {
  color: rgb(0, 255, 136);
}
.homepage .products-container .line-effect-wrapper .priceplans .swiper-slide {
  width: 328px;
  height: 450px;
  background: rgb(0, 0, 0);
}
.homepage .products-container .line-effect-wrapper .priceplans .swiper-wrapper {
  padding-bottom: 50px;
  padding-top: 10px;
}/*# sourceMappingURL=style.css.map */