html, #root {
  height: 100%;
}

body {
  height: 100%;
  background: linear-gradient(20deg, #06420b, #100020 60%);
  color: white;
}

.parent-container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}
@media (min-width: 992px) and (max-width: 1199px) {
  .parent-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .parent-container {
    padding-left: 8rem;
    padding-right: 8rem;
  }
}

@media (max-width: 991px) {
  .navbar .nav-parent-div {
    justify-content: space-between !important;
  }
}
.navbar .nav-parent-div .navbar-collapse {
  justify-content: center;
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
  color: white;
  font-size: 1.2rem;
  padding: 1rem 1.5rem;
  border-radius: 0px;
  transition: 0.2s ease-in-out;
  position: relative;
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
    font-size: 1.05rem;
    padding: 1rem 1.2rem;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
    font-size: 1.05rem;
    padding: 1rem 1.2rem;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
    font-size: 1rem;
    padding: 1rem 1rem;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
    font-size: 1.05rem;
    padding: 1rem 1.2rem;
  }
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 30%;
  background-color: rgb(0, 247, 255);
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform 0.3s ease-in-out;
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 1px;
  background-color: rgb(0, 247, 255);
  transform: scaleX(0);
  transform-origin: left center;
  transition: transform 0.3s ease-in-out;
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link:hover {
  color: rgb(0, 247, 255);
  box-shadow: inset 0px 0px 2px 0px rgb(0, 247, 255);
  text-shadow: 0px 0px 15px white;
  box-sizing: border-box;
  border-radius: 6px;
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link:hover::before {
  transform: scaleY(1);
}
.navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link:hover::after {
  transform: scaleX(1);
}
@media (max-width: 991px) {
  .navbar .nav-parent-div .navbar-collapse .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link {
    color: white;
  }
  .navbar .nav-parent-div .navbar-collapse .navbar-nav .nav-link:hover {
    color: rgb(0, 247, 255);
    text-shadow: 0px 0px 15px white;
    box-shadow: inset 0px 0px 2px 0px rgb(0, 247, 255);
  }
}

.homepage-s1 .s1-left-div h4 {
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
  font-weight: 400;
}
.homepage-s1 .s1-left-div h1 {
  padding-top: 1rem;
  font-size: 5rem;
  background-image: linear-gradient(35deg, gold, rgb(255, 255, 255) 45%);
  background-clip: text;
  color: transparent;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.87);
}
.homepage-s1 .s1-left-div h1 span {
  font-style: italic;
  background-image: linear-gradient(35deg, gold, rgb(0, 255, 136) 45%);
  background-clip: text;
  color: transparent;
  text-shadow: 0px 1px 5px rgba(255, 255, 255, 0.637);
}
.homepage-s1 .s1-left-div p {
  padding-top: 2rem;
  font-size: 0.9rem;
}
.homepage-s1 .s1-right-div .gradient-img-container {
  display: flex;
  justify-content: space-between;
  background-image: url(../images/aloe-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 35rem;
  width: 35rem;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 50px 50px 150px 30px white;
}
.homepage-s1 .s1-right-div .gradient-img-container .gradient-image-1 {
  width: 230px;
  height: 230px;
  background-image: radial-gradient(circle, transparent, rgb(0, 247, 255), transparent 50%);
  background-size: cover;
  display: block;
  position: relative;
  top: -10%;
  left: -30%;
  transform: rotate(-25deg);
}
.homepage-s1 .s1-right-div .gradient-img-container .gradient-image-1 svg {
  height: 4.5rem;
}
.homepage-s1 .s1-right-div .gradient-img-container .gradient-image-2 {
  width: 100px;
  height: 100px;
  background-image: radial-gradient(circle, transparent, rgb(0, 247, 255), transparent 50%);
  background-size: cover;
  display: block;
  position: relative;
  top: -17%;
  left: -51%;
  transform: rotate(5deg);
}
.homepage-s1 .s1-right-div .gradient-img-container .gradient-image-2 svg {
  height: 2rem;
}
.homepage-s1 .s1-right-div .gradient-img-container .gradient-image-3 {
  width: 150px;
  height: 150px;
  background-image: radial-gradient(circle, transparent, rgb(0, 247, 255), transparent 50%);
  background-size: cover;
  display: block;
  position: relative;
  top: -12%;
  left: -61%;
  transform: rotate(45deg);
}
.homepage-s1 .s1-right-div .gradient-img-container .gradient-image-3 svg {
  height: 3rem;
}/*# sourceMappingURL=style.css.map */